h1 {
	font-size: 10em;
}

.contenu {
	text-align: center;
	color: #333333;
	margin-top: 300px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333333;
	padding: 10px;
	color: #CCCCCC;
	font-size: 0.8em;

}