h1,h2,h3,h4,h5 {
	font-size: 3em;
}

#slider img, .large {
	width: 100%;
	height: 500px;
}

.centre {
	text-align: center;
}

.p1 {
	font-size: 1.5em;
}

.faparagraph {
	color: red;
}

.gris {
	background-color: #CCCCCC;
	padding-top: 30px;
	padding-bottom: 30px;
}

.customer {
	margin-top: 15px;
}

.citation {
	background-color: white;
	height:180px;
	padding:10px;
	font-size: 1.2em;
}

#carousel {
	height: 300px;
	padding-top: 80px;
	padding-bottom: 100px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
 }

.fond {
	background-image: url("../images/b5.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 300px;
	color: white;
}

.btn-transapent {
	margin-top: 15px;
	border-color: white;
	background: none;
	width : 200px;
}

.imageBlock {
	width : 100%;
}

.news {
	padding: 20px;
	height: 420px;
	margin-top:10px;
}

.article {
	background-color: white;
	padding: 10px;
	height: 100%;
}

.grisDown {
	padding: 30px;
	background-color: #333B3F;
	color: white;
}

.pPost {
	margin-top: 10px;
}

.fafonce {
	color: #333B3F;
}

.btn-fonce {
	background-color: #222222;
}

.footer {
	height: 150px;
	padding-top: 10px;
	color: white;
	background-color: #222222;
}

#copyright {
	margin-top: 30px;
}

.socialFooter
{
	margin-top: 20px;
}

.feed, .feed:visited {
	color: orange;
}

.twitter, .twitter:visited{
	color: #7FC6BC;
}

.facebook, .facebook:visited{
	color: #046380;
}

.pinterest, .pinterest:visited{
	color: #B9121B;
}

.linkedin, .linkedin:visited{
	color:#01B0F0;
}