h1,h2,p {
	font-family: 'Raleway', sans-serif;
}

h1, h2{
	color: #333333;
}

.p1 {
	font-size: 1.5em;
}

.margTop {
	margin-top: 50px;
}

.margBottom {
	margin-bottom: 100px;
}

.centre {
	text-align: center;
}

.form {
	margin-top:10px;
}

.input-bord {
	border-radius: 0;
}

.form-control {
	background-color: #E8E8E8;
}