h1,h2,h3,h4,h5,
p,.p1,.p2,button,span,
input, li {
	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5 {
	font-size: 3em;
}

.navbar-default {
	border: none;
	background: none;
}

#barUp {
	border-bottom: 1px solid #CCCCCC;
	padding-left: 0.5px;
	padding-right: 0.5px;
}

#barDown {
	margin-top: 20px;
}

.nav-bord {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	margin-left: -0.5px;
	margin-right: -0.5px;
}

#nav-li li {
	display: inline-block;
}

#collapse-li li {
	text-align: right;
}

.textBlack {
	color: black;
}

#logo-header {
	margin-top: 10px;
}

#slider {
	position: relative;
	height: 500px;
	background-image: url("../images/slide-02.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.centre {
	text-align: center;
}

.p1 {
	font-size: 1.5em;
}

.faparagraph {
	color: red;
}

.gris {
	background-color: #CCCCCC;
	padding-top: 30px;
	padding-bottom: 30px;
}

.customer {
	margin-top: 15px;
}


.rond {
	border-radius: 100%;
}

.citation {
	background-color: white;
	height:180px;
	padding:10px;
	font-size: 1.2em;
}

#carousel {
	height: 300px;
	padding-top: 80px;
	padding-bottom: 100px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
 }

#op1 {
	padding: 20px;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}

#op2 {
	padding: 20px;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
}

#op3 {
	padding: 20px;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
}

#op4 {
	padding: 20px;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
}

.liRed {
	color: red;
	margin-left: -25px;
}

.liBlack {
	color: black;
}

.fond {
	background-image: url("../images/b5f.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 5%;
	color: white;
}

.textGris {
	color: grey;
}

.btn-div {

	margin-top: 15px;
}

.btn-transapent {
	margin-bottom: 10%;
	border-color: white;
	background: none;
	width : 200px;
	border-radius:0;
}

.imageBlock {
	width : 100%;
}

.news {
	padding: 20px;
	margin-bottom: 5%;
}

.article {
	background-color: white;
	padding: 10px;
}

.grisDown {
	padding: 30px;
	background-color: #333B3F;
	color: white;
}

.pPost {
	margin-top: 10px;
}

.fafonce {
	color: #333B3F;
}

.input-bord {
	border-radius:0;
}

.form-control {
	background-color: #222222;
	color: white;
	border: #222222;
}

.btn-fonce {
	background-color: #222222;
	margin-top: 5px;
	border-radius:0;
}

.margTop {
	margin-top: 20px;
}

.margBottom {
	margin-bottom: 20px;
}

.col-down {
	margin-top: 20px;
}

#enveloppe {
	width: 65px;
	background-color: #222222;
	padding: 10px 10px 10px 12px;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#enveloppe .fa, #enveloppe .fa:visited {
	color: white;
}

.footer {
	height: 150px;
	padding-top: 10px;
	color: white;
	background-color: #222222;
}

#copyright {
	margin-top: 30px;
}

.socialFooter
{
	margin-top: 20px;
}

.feed, .feed:visited {
	color: orange;
}

.twitter, .twitter:visited{
	color: #7FC6BC;
}

.facebook, .facebook:visited{
	color: #046380;
}

.pinterest, .pinterest:visited{
	color: #B9121B;
}

.linkedin, .linkedin:visited{
	color:#01B0F0;
}